In [79]:
import os
import pandas as pd
import numpy as np
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest, chi2
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import train_test_split

In [2]:
output_path = os.path.join('..', 'data', 'processed')

In [3]:
df = pd.read_csv(os.path.join(output_path, 'Final_df.csv'))

C:\Users\Nico\AppData\Local\Temp\ipykernel_10812\849079931.py:1: DtypeWarning: Columns (8,12,16,24,29,35,37,38,39,40,42,46,47,48,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(output_path, 'Final_df.csv'))

In [4]:
pd.set_option('display.max_row', 111)  # Permet d'afficher un grand nombre de lignes
pd.set_option('display.max_colum', 111)  # Permet d'afficher un grand nombre de colonnes

In [5]:
df.head()

,Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh,id_vehicule_x,secu1,secu2,secu3,id_usager,senc,catv,occutc,obs,obsm,choc,manv,id_vehicule_y,motor,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1,vma
0,200500000001,1.0,1,4,1,1.0,11.0,0.0,0.0,0.0,1976.0,A01,NaN,NaN,NaN,NaN,NaN,0.0,7,0.0,0.0,2.0,1.0,1.0,NaN,NaN,5,1,12,1900,3,2,1,1.0,3.0,11.0,CD41B,M,5051500.0,294400.0,590,3.0,41.0,0.0,B,2.0,2.0,1.0,430.0,0.0,1.0,1.0,0.0,63.0,1.0,0.0,1.0,0.0,NaN
1,200500000001,1.0,1,3,2,3.0,11.0,0.0,0.0,0.0,1968.0,B02,NaN,NaN,NaN,NaN,NaN,0.0,7,0.0,0.0,2.0,8.0,10.0,NaN,NaN,5,1,12,1900,3,2,1,1.0,3.0,11.0,CD41B,M,5051500.0,294400.0,590,3.0,41.0,0.0,B,2.0,2.0,1.0,430.0,0.0,1.0,1.0,0.0,63.0,1.0,0.0,1.0,0.0,NaN
2,200500000001,2.0,2,1,1,0.0,11.0,0.0,0.0,0.0,1964.0,B02,NaN,NaN,NaN,NaN,NaN,0.0,7,0.0,0.0,2.0,8.0,10.0,NaN,NaN,5,1,12,1900,3,2,1,1.0,3.0,11.0,CD41B,M,5051500.0,294400.0,590,3.0,41.0,0.0,B,2.0,2.0,1.0,430.0,0.0,1.0,1.0,0.0,63.0,1.0,0.0,1.0,0.0,NaN
3,200500000001,4.0,2,1,1,0.0,31.0,0.0,0.0,0.0,2004.0,B02,NaN,NaN,NaN,NaN,NaN,0.0,7,0.0,0.0,2.0,8.0,10.0,NaN,NaN,5,1,12,1900,3,2,1,1.0,3.0,11.0,CD41B,M,5051500.0,294400.0,590,3.0,41.0,0.0,B,2.0,2.0,1.0,430.0,0.0,1.0,1.0,0.0,63.0,1.0,0.0,1.0,0.0,NaN
4,200500000001,5.0,2,1,1,0.0,11.0,0.0,0.0,0.0,1998.0,B02,NaN,NaN,NaN,NaN,NaN,0.0,7,0.0,0.0,2.0,8.0,10.0,NaN,NaN,5,1,12,1900,3,2,1,1.0,3.0,11.0,CD41B,M,5051500.0,294400.0,590,3.0,41.0,0.0,B,2.0,2.0,1.0,430.0,0.0,1.0,1.0,0.0,63.0,1.0,0.0,1.0,0.0,NaN

In [6]:
df.shape

(2636489, 59)

In [7]:
print(df['an'].unique())

[   5    6    7    8    9   10   11   12   13   14   15   16   17   18
 2019 2020 2021 2022]

In [8]:
# Définir un dictionnaire de mapping pour convertir les valeurs de 'an'
mapping = {5: 2005, 6: 2006, 7: 2007, 8: 2008, 9: 2009, 10: 2010, 
           11: 2011, 12: 2012, 13: 2013, 14: 2014, 15: 2015, 
           16: 2016, 17: 2017, 18: 2018, 2019: 2019, 2020: 2020,
           2021: 2021, 2022: 2022}

# Appliquer la transformation en utilisant le mapping
df['an'] = df['an'].replace(mapping)

# Vérifier les valeurs uniques après transformation
print("Valeurs uniques pour la colonne 'an' après transformation :")
print(df['an'].unique())

Valeurs uniques pour la colonne 'an' après transformation :
[2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
 2019 2020 2021 2022]

In [9]:
print(list(df['hrmn'].unique()))

[1900, 1600, 1845, 1615, 1945, 1415, 1530, 2115, 1715, 2015, 230, 615, 800, 1930, 2030, 2000, 730, 1630, 815, 1800, 1100, 900, 1030, 1130, 45, 2200, 1045, 715, 15, 2145, 1515, 500, 700, 2345, 1115, 2300, 1545, 1915, 1200, 600, 1815, 1215, 1345, 745, 30, 1000, 2215, 1830, 300, 1315, 2100, 830, 530, 945, 1645, 2045, 1330, 2315, 1015, 915, 1730, 1745, 1700, 845, 430, 1400, 645, 1230, 1145, 2245, 215, 930, 1500, 1300, 345, 445, 630, 330, 130, 2130, 515, 115, 1430, 400, 2330, 315, 1445, 100, 1245, 2230, 545, 415, 200, 145, 245, 1, 740, 1720, 1655, 1740, 1220, 1625, 120, 1840, 2040, 1835, 1925, 835, 825, 1735, 1355, 1435, 1150, 2105, 1210, 1505, 1754, 1020, 855, 950, 1525, 1405, 1340, 805, 1810, 1005, 1238, 1426, 1455, 2125, 1825, 1440, 1040, 50, 1950, 210, 944, 1059, 1534, 902, 750, 1407, 2010, 1414, 1607, 920, 942, 1425, 1755, 2058, 1935, 1726, 1532, 1725, 1617, 1520, 654, 1106, 1524, 10, 839, 236, 1436, 1302, 1453, 1947, 1152, 2250, 905, 1240, 1750, 1155, 1635, 2055, 1510, 1140, 650, 1125, 1010, 2150, 2135, 520, 1620, 1850, 810, 1320, 1540, 1805, 1710, 2120, 1557, 910, 1050, 320, 850, 1250, 1450, 1910, 1920, 225, 820, 1110, 1113, 2159, 1058, 1410, 255, 1135, 435, 1120, 1940, 450, 1305, 1605, 1610, 1225, 1535, 1855, 1146, 55, 843, 1310, 1350, 1955, 1142, 125, 1337, 2140, 2110, 1235, 2340, 1025, 1216, 1401, 2325, 2235, 1105, 250, 1650, 735, 1831, 755, 1335, 1820, 1550, 1420, 1151, 1516, 1555, 1905, 725, 1205, 2210, 555, 1816, 1909, 2034, 2240, 1640, 2155, 35, 720, 955, 2355, 220, 205, 2050, 2035, 2020, 1035, 1348, 1824, 1705, 2255, 1038, 748, 1556, 1837, 1818, 635, 1452, 1811, 958, 1658, 1123, 2031, 933, 40, 610, 525, 1744, 1228, 416, 1916, 208, 854, 2008, 2225, 1248, 1211, 1346, 350, 1759, 2305, 2005, 1733, 1934, 940, 1806, 2205, 413, 1903, 510, 803, 1257, 605, 2247, 2348, 507, 838, 1857, 1906, 1052, 640, 303, 1237, 1943, 710, 1553, 721, 1517, 1911, 2113, 1439, 1717, 1411, 826, 1852, 1653, 1124, 952, 840, 802, 1536, 2044, 1949, 2350, 1638, 1711, 1854, 1732, 2313, 1047, 1137, 1613, 1003, 140, 2019, 1847, 752, 2335, 1144, 751, 2025, 1722, 1843, 1657, 2220, 807, 2013, 829, 1512, 1746, 705, 1834, 1602, 1833, 439, 1616, 1849, 1924, 1918, 1214, 1709, 1055, 1026, 1801, 1325, 1756, 37, 923, 550, 2328, 1056, 758, 150, 709, 704, 918, 135, 1807, 2320, 1243, 2043, 1509, 1753, 702, 1254, 2138, 937, 1213, 1707, 1601, 757, 119, 116, 856, 155, 501, 625, 540, 1427, 1353, 1255, 1424, 1817, 325, 335, 1239, 1128, 903, 812, 1224, 2011, 1804, 1649, 852, 1347, 1317, 1554, 1809, 853, 957, 1533, 1504, 744, 1902, 1459, 1316, 2227, 1541, 1844, 921, 1322, 1659, 1223, 1619, 1518, 813, 1442, 1956, 1358, 1344, 2012, 1246, 1107, 410, 2310, 1904, 1623, 1023, 613, 1149, 1502, 1523, 739, 932, 1604, 110, 235, 1336, 1901, 5, 105, 1507, 1432, 1356, 20, 726, 455, 2059, 1227, 1028, 13, 1333, 836, 2016, 1403, 1457, 857, 1446, 1527, 2027, 1318, 1802, 1919, 425, 1441, 1202, 1841, 232, 655, 858, 458, 1551, 738, 535, 736, 1308, 935, 1042, 749, 1448, 754, 801, 1207, 1839, 1136, 939, 925, 1743, 1838, 1342, 1634, 1739, 837, 25, 2107, 440, 947, 309, 841, 1012, 620, 1718, 1454, 305, 56, 2324, 420, 553, 2119, 240, 1154, 355, 312, 2342, 1708, 2251, 1636, 1706, 1822, 1912, 606, 2009, 1303, 1242, 847, 1703, 729, 1334, 1323, 849, 1118, 1713, 2124, 1406, 1859, 808, 1803, 1217, 814, 2134, 1624, 505, 1647, 2036, 2144, 1226, 1954, 1109, 1558, 2336, 1914, 1542, 922, 727, 2322, 1736, 643, 1139, 817, 2222, 2006, 2234, 1632, 405, 2224, 611, 1218, 1612, 936, 827, 310, 1547, 153, 51, 1051, 1312, 1341, 914, 2242, 1808, 1923, 340, 318, 1821, 2132, 823, 1203, 504, 1354, 2028, 2311, 1721, 1626, 1104, 1057, 1648, 1117, 1232, 1221, 1451, 1244, 1631, 916, 1428, 734, 1219, 1201, 2001, 1114, 1629, 959, 1004, 1206, 1157, 1409, 1357, 1829, 1506, 502, 742, 2038, 1742, 1513, 659, 1633, 931, 1758, 1014, 1222, 1704, 2024, 1443, 1908, 1727, 131, 1907, 1757, 1133, 1701, 1306, 2108, 1017, 412, 2057, 431, 2101, 2018, 1836, 2331, 2208, 917, 1408, 1608, 137, 1642, 52, 652, 1842, 1013, 1621, 1321, 1208, 1544, 2139, 1359, 1327, 1143, 1022, 1511, 523, 1628, 714, 1702, 133, 624, 1856, 1958, 2254, 909, 719, 1338, 1413, 1936, 2128, 1714, 743, 1922, 2122, 908, 2002, 3, 1942, 848, 1716, 2158, 708, 429, 48, 42, 418, 1329, 1103, 904, 1814, 1328, 2117, 832, 907, 423, 732, 1932, 1737, 1747, 1538, 2051, 1933, 2039, 2042, 1939, 722, 1937, 1848, 2156, 527, 2157, 1127, 1938, 1654, 723, 1313, 1941, 949, 1537, 711, 1129, 2106, 1307, 256, 109, 844, 452, 1951, 2111, 1351, 926, 2003, 2153, 1656, 1212, 108, 333, 1948, 642, 2203, 1828, 148, 644, 1813, 14, 1724, 1449, 1148, 1156, 1609, 906, 1929, 1434, 2127, 2049, 2152, 1646, 1731, 1018, 2032, 1748, 1418, 1233, 1241, 2007, 851, 404, 1209, 2233, 2201, 1159, 538, 2136, 954, 816, 1521, 1349, 2241, 144, 2307, 1438, 1508, 1236, 1352, 1119, 911, 1256, 636, 706, 1027, 1429, 353, 1953, 1723, 2118, 118, 2343, 1858, 506, 647, 127, 1823, 1526, 154, 403, 617, 1652, 938, 1846, 1812, 943, 842, 1234, 1332, 1304, 1957, 43, 1639, 1853, 1251, 2232, 2129, 1531, 1054, 2344, 2126, 1016, 2109, 818, 517, 956, 2014, 1258, 2237, 1402, 1231, 228, 2357, 2314, 206, 1147, 859, 948, 2226, 2354, 136, 1259, 1447, 546, 1339, 2054, 522, 1728, 1539, 27, 2052, 1729, 1031, 547, 2338, 453, 701, 1913, 1751, 1559, 1959, 753, 2148, 328, 1927, 1643, 1033, 1543, 1522, 1618, 158, 2046, 733, 1546, 737, 1921, 2056, 1752, 147, 2037, 513, 1132, 1009, 747, 741, 637, 1029, 1021, 2236, 633, 512, 432, 1644, 1514, 2332, 1827, 2213, 1437, 443, 1611, 428, 1719, 1741, 1001, 901, 331, 1931, 8, 2258, 1032, 1712, 1417, 821, 2023, 1423, 1229, 1641, 2004, 2137, 1326, 822, 1112, 2211, 1247, 2112, 7, 1952, 1928, 308, 1552, 946, 539, 712, 1131, 301, 24, 1419, 1134, 1819, 114, 746, 951, 1548, 1404, 2239, 809, 1444, 201, 222, 1416, 2317, 1826, 1622, 1041, 1002, 31, 2217, 2312, 2256, 707, 2204, 1738, 728, 648, 542, 1048, 2229, 57, 411, 2147, 503, 929, 1301, 2131, 804, 2142, 1043, 928, 1528, 302, 623, 533, 1421, 231, 234, 2212, 2352, 2329, 209, 1138, 2209, 101, 2339, 614, 2021, 924, 831, 1456, 811, 532, 1917, 252, 1111, 454, 2303, 1501, 103, 19, 1926, 2219, 1053, 358, 1108, 2238, 2102, 36, 1458, 1037, 1046, 1141, 1319, 1121, 128, 2244, 1851, 1529, 2259, 544, 438, 1627, 828, 1549, 612, 2309, 1249, 1614, 653, 1331, 22, 558, 2103, 442, 327, 2114, 1116, 1603, 2318, 543, 912, 2146, 656, 1734, 1433, 16, 1422, 248, 953, 1007, 1946, 2, 417, 717, 359, 2022, 941, 1252, 1412, 1944, 352, 317, 113, 242, 2327, 609, 2047, 324, 638, 731, 203, 1036, 1606, 6, 39, 1008, 528, 434, 2316, 58, 1153, 2143, 1158, 806, 834, 32, 321, 149, 1049, 53, 2048, 357, 657, 319, 11, 913, 603, 2246, 2041, 1519, 433, 1253, 2053, 18, 4, 322, 1651, 524, 1749, 559, 2104, 338, 2304, 106, 202, 1101, 344, 107, 2334, 508, 226, 1204, 1034, 2029, 724, 2228, 424, 2349, 1122, 138, 311, 1314, 1832, 1309, 229, 9, 604, 846, 2214, 2321, 2133, 1019, 422, 427, 622, 218, 756, 2154, 159, 341, 44, 1324, 2218, 2243, 1431, 2026, 448, 2326, 332, 518, 2017, 1006, 122, 759, 112, 354, 2223, 247, 1637, 143, 511, 1311, 626, 2253, 1343, 1503, 104, 123, 534, 343, 2206, 2221, 456, 111, 531, 2116, 2257, 2252, 437, 1024, 141, 2323, 436, 833, 26, 2358, 519, 521, 607, 212, 49, 239, 1039, 2346, 2141, 2341, 129, 306, 2149, 157, 2123, 608, 146, 313, 254, 2337, 47, 156, 2202, 126, 449, 426, 2248, 919, 1126, 46, 134, 326, 824, 2347, 2319, 819, 718, 414, 618, 658, 529, 23, 142, 124, 646, 537, 249, 1011, 441, 2302, 713, 1044, 246, 2301, 314, 351, 102, 402, 213, 927, 34, 207, 337, 316, 446, 21, 649, 934, 2306, 12, 716, 632, 551, 2207, 334, 224, 627, 2333, 419, 132, 219, 348, 651, 243, 2121, 2308, 258, 631, 29, 223, 217, 703, 204, 117, 346, 601, 628, 616, 444, 233, 2151, 216, 629, 516, 408, 1102, 349, 336, 509, 457, 257, 2353, 2356, 339, 409, 2033, 28, 33, 17, 556, 121, 214, 54, 552, 2249, 259, 329, 237, 549, 41, 221, 2216, 406, 2351, 447, 38, 304, 407, 557, 139, 152, 641, 244, 621, 548, 151, 619, 2231, 421, 526, 323, 514, 554, 211, 2359, 536, 238, 253, 347, 459, 401, 541, 356, 241, 639, 634, 342, 451, 251, 59, 602, 227, 307, '1330', '1850', '1930', '930', '1605', '1535', '2310', '1950', '325', '30', '1000', '1445', '1715', '1130', '1030', '1700', '2245', '2340', '1620', '1520', '1830', '2030', '1825', '805', '1920', '1015', '1230', '925', '1726', '1835', '1905', '1840', '2300', '1735', '2015', '840', '1210', '830', '715', '815', '2115', '2207', '900', '515', '1440', '750', '850', '1100', '745', '1345', '1800', '1815', '820', '1515', '1600', '1900', '1025', '1807', '845', '2345', '330', '740', '1300', '700', '1502', '1720', '1320', '1530', '1645', '622', '1655', '224', '1955', '630', '1845', '2225', '1650', '2250', '210', '800', '1315', '1120', '1640', '1155', '2100', '1220', '2140', '915', '35', '1450', '40', '910', '1832', '955', '1540', '810', '1625', '1200', '1632', '550', '2000', '1400', '2335', '1725', '1420', '920', '1940', '1750', '2120', '730', '2325', '405', '950', '2320', '1635', '100', '2130', '1910', '2255', '1505', '1231', '105', '1310', '1805', '2020', '1209', '249', '945', '2230', '1355', '2135', '2315', '1410', '2254', '1245', '1755', '1745', '530', '1543', '1503', '841', '1407', '940', '2215', '310', '1145', '1110', '1820', '1335', '1522', '1710', '50', '1240', '1337', '1915', '1555', '1205', '5', '140', '1730', '1647', '835', '355', '425', '2235', '1225', '510', '1430', '2350', '220', '300', '1325', '240', '1740', '645', '1630', '215', '1150', '1235', '1925', '1005', '720', '1626', '208', '1140', '1', '2126', '1433', '1624', '1158', '2240', '2200', '2105', '822', '1500', '135', '1426', '1347', '2330', '2305', '45', '1425', '345', '125', '813', '2145', '228', '120', '129', '1250', '1510', '2040', '610', '725', '2017', '1545', '1945', '2035', '1135', '2022', '2050', '825', '1404', '1255', '2233', '1045', '1050', '1541', '1009', '2045', '1810', '1833', '1525', '1008', '1935', '1539', '2005', '757', '855', '2004', '924', '2124', '935', '2055', '1215', '2339', '110', '2220', '1847', '735', '2150', '601', '507', '152', '130', '1020', '1722', '2234', '640', '1758', '1125', '400', '1615', '842', '1855', '1357', '1908', '2138', '1455', '1435', '2110', '1550', '600', '15', '1415', '1136', '615', '826', '2125', '848', '1926', '1610', '1423', '1305', '545', '200', '802', '1126', '1350', '705', '540', '115', '1115', '219', '635', '1753', '2210', '905', '2217', '2025', '430', '250', '1055', '1010', '20', '1705', '1105', '1733', '2006', '2248', '2355', '1029', '415', '655', '918', '1326', '500', '258', '2038', '1701', '756', '1040', '2010', '2018', '1824', '1934', '2238', '2223', '946', '350', '335', '1316', '1405', '320', '145', '2246', '55', '255', '315', '922', '1044', '124', '150', '505', '414', '1035', '10', '420', '513', '2312', '132', '929', '609', '1122', '26', '1729', '1447', '1340', '1526', '25', '2327', '59', '1858', '137', '1358', '755', '803', '1547', '1152', '2155', '444', '440', '512', '351', '511', '1836', '2311', '245', '305', '650', '555', '1711', '230', '713', '1233', '1841', '109', '1148', '1937', '1947', '1853', '1736', '1704', '13', '851', '2156', '1436', '548', '1457', '1629', '1417', '1811', '1854', '1616', '3', '952', '1204', '717', '1827', '525', '2205', '1822', '2027', '535', '1307', '155', '119', '852', '1537', '723', '1517', '1523', '1203', '1334', '814', '1236', '1054', '445', '1311', '1214', '2028', '1007', '710', '642', '620', '1012', '1106', '2134', '1602', '410', '1747', '1712', '2031', '2144', '225', '1538', '1002', '1108', '1013', '16', '836', '2116', '649', '520', '1946', '1834', '1659', '1139', '518', '9', '1914', '1528', '1607', '2008', '1942', '27', '747', '613', '1028', '1844', '1927', '923', '2334', '2253', '339', '1856', '1116', '1819', '2009', '954', '1402', '437', '142', '450', '827', '1634', '1809', '1452', '2104', '1254', '1314', '1112', '1936', '1519', '1943', '1939', '2342', '38', '1456', '127', '1321', '1608', '1024', '1801', '1852', '506', '2012', '223', '2113', '2356', '56', '2127', '927', '328', '1744', '939', '1719', '1734', '808', '1258', '711', '1902', '206', '1428', '728', '2152', '1639', '303', '1728', '542', '2323', '1507', '2007', '1552', '1813', '838', '1222', '1842', '205', '2122', '1648', '1826', '2151', '116', '733', '1328', '1403', '7', '254', '307', '1023', '519', '1627', '1932', '353', '1623', '1422', '834', '801', '1228', '1336', '338', '847', '1951', '2214', '1532', '837', '1346', '241', '2108', '12', '1104', '1124', '1928', '2203', '1143', '2024', '637', '1529', '902', '1717', '817', '1239', '2029', '1731', '1756', '552', '438', '1339', '407', '1042', '1343', '937', '1757', '1441', '1818', '2247', '2204', '306', '1344', '2112', '112', '1218', '724', '2132', '2322', '2319', '1709', '101', '2316', '2208', '359', '2109', '1119', '1548', '2046', '1641', '1206', '1247', '2212', '704', '2044', '638', '319', '625', '159', '858', '1859', '1817', '2357', '2014', '1518', '1713', '605', '1806', '1916', '1857', '1444', '1549', '1342', '854', '1413', '1628', '2337', '1903', '712', '118', '58', '1748', '1821', '1604', '648', '416', '947', '357', '1812', '1802', '737', '2201', '1056', '2', '1224', '707', '1146', '2314', '1216', '2011', '934', '1244', '1157', '1232', '926', '1159', '1612', '1944', '744', '1752', '2033', '2026', '2041', '1741', '2114', '906', '1438', '1546', '1147', '751', '824', '931', '1026', '1128', '2347', '2048', '1234', '652', '1318', '1912', '1103', '1622', '1432', '428', '1551', '1708', '1606', '1804', '1512', '1613', '804', '1354', '2019', '1814', '1052', '1154', '52', '811', '235', '741', '746', '643', '1038', '1201', '1027', '1617', '1102', '1304', '1642', '1643', '1032', '1219', '1958', '1739', '843', '844', '736', '2236', '1831', '1213', '1033', '832', '1259', '1658', '1718', '1048', '154', '809', '1702', '907', '01:30', '02:50', '15:15', '20:20', '04:00', '14:03', '07:27', '16:40', '18:00', '14:50', '13:45', '18:15', '16:50', '08:10', '09:00', '06:50', '18:30', '14:10', '08:15', '17:55', '10:10', '09:20', '03:00', '18:10', '12:20', '07:55', '01:55', '11:05', '16:00', '17:30', '14:30', '01:00', '13:40', '13:50', '16:35', '21:40', '07:00', '16:45', '12:10', '06:55', '19:12', '21:25', '08:59', '08:16', '17:50', '17:10', '14:38', '17:40', '11:34', '09:10', '15:30', '18:45', '19:15', '07:30', '08:45', '15:10', '13:00', '20:05', '00:30', '05:01', '18:50', '20:11', '13:05', '16:15', '18:05', '17:08', '19:40', '10:30', '12:51', '00:20', '02:10', '15:55', '08:00', '12:35', '10:38', '11:00', '04:50', '19:35', '15:00', '18:55', '13:20', '00:55', '19:03', '16:42', '15:50', '20:32', '20:30', '13:10', '17:00', '20:10', '19:29', '17:36', '15:57', '16:28', '21:10', '14:40', '12:50', '15:25', '06:20', '16:10', '18:18', '21:28', '14:20', '12:40', '17:56', '20:00', '13:35', '17:03', '09:02', '17:25', '01:20', '09:45', '16:30', '22:05', '20:55', '09:50', '16:32', '20:45', '18:40', '17:45', '14:08', '10:20', '18:25', '08:20', '11:45', '07:45', '10:25', '19:30', '14:45', '14:15', '03:10', '19:00', '16:20', '19:20', '12:00', '15:49', '23:50', '19:55', '15:45', '18:19', '20:50', '06:45', '16:05', '19:10', '17:35', '11:50', '21:00', '23:25', '12:25', '06:30', '09:35', '14:55', '04:15', '11:15', '07:20', '14:00', '21:30', '12:05', '11:30', '18:20', '09:07', '15:35', '14:43', '19:50', '00:40', '19:47', '02:45', '10:00', '22:00', '07:10', '01:40', '11:20', '21:50', '01:15', '04:10', '09:30', '20:26', '20:15', '06:40', '19:45', '23:00', '07:50', '16:55', '02:55', '10:40', '16:33', '10:50', '17:24', '06:58', '11:44', '19:05', '04:55', '10:48', '14:25', '18:42', '23:13', '15:02', '23:15', '22:10', '22:40', '22:35', '15:05', '21:15', '18:48', '08:02', '13:15', '15:20', '22:23', '16:25', '22:39', '03:50', '20:25', '08:25', '07:11', '17:20', '05:05', '02:56', '05:00', '13:30', '04:25', '10:31', '09:37', '00:15', '08:55', '19:44', '12:55', '16:59', '11:42', '18:22', '09:40', '10:51', '20:40', '23:05', '10:15', '03:56', '06:15', '22:07', '12:30', '08:35', '08:30', '17:46', '12:15', '22:15', '17:09', '19:25', '18:36', '15:40', '11:40', '21:35', '08:33', '09:25', '13:28', '19:23', '10:35', '19:28', '00:05', '01:25', '19:26', '23:20', '23:45', '21:44', '03:30', '17:05', '02:00', '22:30', '17:21', '04:45', '23:30', '01:45', '06:10', '23:35', '17:33', '05:50', '05:20', '11:51', '01:35', '02:15', '08:40', '09:13', '08:50', '02:35', '07:19', '13:25', '11:25', '08:05', '18:12', '03:15', '17:15', '18:38', '02:40', '07:40', '00:25', '20:35', '13:55', '15:32', '11:37', '13:24', '23:40', '09:04', '15:29', '02:20', '12:18', '05:30', '07:35', '14:35', '18:43', '11:11', '16:21', '21:55', '21:05', '02:51', '20:49', '08:34', '03:17', '15:43', '00:09', '09:15', '11:35', '16:58', '05:45', '20:21', '22:45', '01:08', '23:10', '06:27', '11:55', '14:11', '20:38', '07:25', '09:16', '11:09', '03:20', '05:15', '06:05', '22:55', '02:43', '22:50', '10:05', '18:24', '06:24', '13:36', '16:13', '15:24', '12:48', '00:23', '06:39', '05:40', '21:17', '06:00', '09:05', '06:31', '01:50', '14:05', '08:12', '13:04', '02:28', '13:18', '08:36', '23:34', '12:59', '04:30', '21:34', '18:32', '18:35', '12:24', '07:36', '19:43', '21:45', '02:21', '11:10', '12:45', '09:55', '11:22', '21:58', '07:15', '12:26', '10:23', '17:07', '22:25', '03:45', '01:28', '05:55', '07:43', '09:29', '07:04', '05:35', '03:58', '09:26', '07:05', '02:30', '01:05', '16:04', '10:11', '14:42', '15:46', '02:58', '17:38', '11:58', '03:40', '13:42', '06:53', '07:57', '10:55', '20:22', '00:19', '17:39', '10:47', '18:02', '15:54', '16:18', '19:13', '11:53', '07:37', '20:17', '17:58', '02:54', '09:18', '04:07', '00:32', '10:45', '04:35', '12:38', '00:01', '08:07', '00:00', '03:55', '21:37', '11:13', '15:17', '11:08', '22:20', '09:24', '14:26', '19:17', '18:54', '03:35', '12:28', '01:22', '23:55', '13:23', '06:25', '21:20', '18:17', '17:29', '19:09', '11:06', '16:52', '22:32', '12:23', '14:28', '14:18', '05:27', '20:28', '18:13', '18:53', '17:37', '17:34', '18:14', '15:42', '21:53', '03:13', '13:19', '23:56', '08:54', '23:16', '19:14', '19:01', '21:21', '09:06', '17:53', '19:04', '06:11', '13:17', '10:19', '22:41', '00:34', '15:11', '20:46', '17:12', '18:23', '16:17', '08:48', '09:23', '07:56', '05:11', '17:57', '08:28', '22:43', '17:11', '10:24', '09:22', '17:49', '03:43', '18:41', '12:34', '10:12', '21:03', '03:25', '17:22', '15:07', '07:08', '00:50', '15:06', '13:54', '18:03', '14:37', '16:43', '04:05', '11:43', '07:52', '08:47', '15:56', '15:26', '13:08', '09:48', '20:14', '14:21', '17:28', '10:29', '10:01', '20:08', '02:57', '16:02', '00:45', '16:37', '07:32', '22:04', '09:58', '18:11', '23:18', '17:48', '18:49', '09:44', '01:48', '02:52', '14:54', '15:18', '12:52', '14:02', '08:38', '16:19', '15:51', '15:09', '16:36', '06:06', '16:53', '16:49', '06:26', '11:29', '04:20', '17:13', '08:57', '23:54', '16:24', '18:09', '22:17', '05:25', '14:57', '05:59', '05:10', '12:13', '02:25', '18:58', '18:16', '01:14', '12:14', '13:47', '00:37', '07:28', '13:32', '11:16', '10:36', '04:40', '13:52', '18:27', '10:16', '16:48', '12:41', '12:44', '14:52', '20:44', '07:12', '19:58', '08:17', '02:02', '03:07', '00:10', '04:43', '09:42', '15:28', '10:34', '19:57', '18:26', '16:03', '18:07', '07:41', '07:18', '13:38', '18:34', '07:44', '21:54', '13:46', '16:06', '13:09', '15:38', '13:59', '11:18', '18:46', '08:49', '19:34', '01:03', '00:38', '19:32', '10:56', '13:58', '13:14', '17:02', '21:52', '02:08', '08:53', '02:33', '08:22', '20:54', '01:07', '09:56', '19:19', '13:06', '08:52', '12:49', '07:23', '08:18', '11:19', '10:17', '09:11', '07:53', '01:10', '08:01', '06:47', '17:06', '06:17', '07:09', '07:38', '05:42', '21:48', '14:56', '12:06', '00:28', '12:22', '19:06', '19:16', '21:41', '03:01', '13:22', '03:52', '18:29', '11:52', '16:16', '17:44', '18:47', '11:48', '17:43', '09:08', '22:06', '12:57', '15:08', '12:37', '06:49', '17:17', '02:32', '21:18', '14:59', '21:08', '13:43', '07:54', '17:51', '04:03', '14:53', '16:22', '14:24', '12:54', '22:34', '15:34', '16:07', '14:44', '05:41', '18:08', '17:47', '02:05', '15:58', '13:39', '17:19', '20:01', '15:31', '18:57', '11:59', '05:17', '17:23', '00:24', '08:51', '11:23', '19:48', '09:31', '18:21', '20:56', '11:49', '10:

In [10]:
# Définition de la fonction pour homogénéiser le format de l'heure
def homogenize_hour_format(row):
    # Convertir l'heure en chaîne de caractères
    hour_str = str(row['hrmn'])
    
    # Si l'année est comprise entre 2005 et 2018, ajuster le format de l'heure
    if row['an'] < 2019:
        # Extraire les deux derniers chiffres pour les minutes
        minutes = hour_str[-2:].zfill(2)
        
        # Les chiffres restants sont pour les heures
        hour = hour_str[:-2].zfill(2)
        
        # Concaténer avec ':' pour obtenir le format 'HH:MM'
        return f'{hour}:{minutes}'
    
    # Si l'année est 2019 ou plus, le format est déjà 'HH:MM'
    return hour_str

# Appliquer la fonction à la colonne 'hrmn'
df['hrmn'] = df.apply(homogenize_hour_format, axis=1)

In [11]:
print(df['hrmn'].unique())

['19:00' '16:00' '18:45' ... '02:27' '03:07' '00:00']

In [12]:
print(df['grav'].unique())

[ 4  3  1  2 -1]

In [13]:
# Suppression des lignes ou la target n'est pas renseignée
df = df.loc[df['grav'] != -1]

In [14]:
df.shape

(2636188, 59)

In [15]:
# Recherche de doublons
duplicates = df[df.duplicated()]

# Compte le nombre de lignes identiques
num_duplicates = len(duplicates)
print("Nombre de doublons trouvés :", num_duplicates)

Nombre de doublons trouvés : 2858

In [16]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [17]:
# Suppression des variables dites techniques
df.drop(columns=['Num_Acc', 'num_veh', 'id_vehicule_y', 'id_vehicule_x', 'id_usager'], inplace=True)

In [18]:
print(df['secu'].unique())

[11. 31. 21.  0. 12. 13. 90. 10. 22. 91. 33. 41. 23. 20. 92. 32. 43. 93.
 42.  1. nan 30. 40.  3.  2.]

In [19]:
# Remplacer les valeurs de 1 à 9 par NaN
df['secu'] = df['secu'].apply(lambda x: np.nan if 0 <= x <= 9 else x)

# Afficher les valeurs uniques après remplacement
print(df['secu'].unique())

[11. 31. 21. nan 12. 13. 90. 10. 22. 91. 33. 41. 23. 20. 92. 32. 43. 93.
 42. 30. 40.]

In [20]:
print(df['secu1'].unique())

[nan  1.  2.  8.  0.  3.  4.  5.  6.  9. -1.  7.]

In [21]:
filtered_df = df[(df['secu1'].isin([0, -1])) & (df[['secu2', 'secu3']].ne(-1).any(axis=1))]

# Afficher les résultats
filtered_df.head(5)

,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,secu1,secu2,secu3,senc,catv,occutc,obs,obsm,choc,manv,motor,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1,vma
2139543,1.0,1,3,1,5.0,NaN,-1.0,0,-1.0,1936.0,0.0,0.0,-1.0,2.0,7,NaN,0.0,2.0,3.0,15.0,1.0,2019,11,25,14:50,1,2,2,8.0,3.0,78126,DRIONNE (AVENUE DE LA),NaN,"48,8461250","2,1346200",78,3.0,321,0.0,NaN,2.0,4.0,3,605,0.0,2.0,1.0,NaN,NaN,2.0,5.0,1.0,NaN,50.0
2139565,10.0,3,4,2,5.0,NaN,3.0,3,1.0,1953.0,0.0,0.0,0.0,1.0,7,NaN,0.0,1.0,1.0,1.0,1.0,2019,11,28,16:35,1,2,1,1.0,6.0,66136,QUATRE-SAISONS (DES),NaN,"42,6865700","2,8939300",66,4.0,QUATRE-SAISONS (DES),0.0,NaN,2.0,2.0,0,0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,NaN,50.0
2140200,1.0,1,3,1,5.0,NaN,-1.0,-1,-1.0,1967.0,0.0,6.0,-1.0,1.0,33,NaN,12.0,0.0,2.0,14.0,1.0,2019,8,14,16:05,1,2,1,1.0,6.0,63124,COSTES (RUE DIEUDONNE),NaN,"45,7454700","3,1673400",63,4.0,COSTES (RUE DIEUDONNE),0.0,NaN,2.0,2.0,(1),(1),0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,NaN,50.0
2140218,10.0,3,3,2,0.0,NaN,1.0,3,1.0,1929.0,0.0,0.0,-1.0,3.0,1,NaN,0.0,1.0,1.0,15.0,5.0,2019,7,27,18:00,1,2,3,1.0,6.0,58194,ARDILLIERS,NaN,"46,9919700","3,1613000",58,4.0,ARDILLIERS,0.0,NaN,1.0,1.0,0,0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,NaN,30.0
2140325,10.0,3,4,1,0.0,NaN,5.0,5,1.0,2004.0,0.0,0.0,-1.0,1.0,7,NaN,0.0,1.0,1.0,26.0,0.0,2019,6,13,17:20,1,2,1,2.0,6.0,93053,BREMENT (RUE DE) 109 A 235 - 110 A ...,NaN,"48,8866300","2,4716400",93,3.0,116,0.0,NaN,1.0,2.0,0,0,0.0,1.0,1.0,NaN,NaN,2.0,0.0,1.0,NaN,50.0

In [22]:
def transform_secu(value):
    if pd.isna(value):
        return np.nan
    value_str = str(int(value))  # Convert value to string to check the last digit
    last_digit = value_str[-1]
    if last_digit == '1':
        return int(value_str[0])  # Keep only the tens digit
    elif last_digit in ['2', '3', '0']:
        return 0
    return value

# Apply the function to create the new column
df['secu_all'] = df['secu'].apply(transform_secu)

# Display the DataFrame with the new column
df.head(5)
print(df['secu_all'].unique())

[ 1.  3.  2. nan  0.  9.  4.]

In [23]:
def combine_secu(row):
    # Extraire les valeurs de chaque colonne
    secu1, secu2, secu3 = row['secu1'], row['secu2'], row['secu3']
    
    # Si toutes les colonnes sont -1 ou NaN, alors NaN
    if (pd.isna(secu1) or secu1 == -1) and (pd.isna(secu2) or secu2 == -1) and (pd.isna(secu3) or secu3 == -1):
        return np.nan
    
    # Vérifier la priorité et la valeur à utiliser
    if secu1 > 0:
        return secu1
    elif secu2 > 0:
        return secu2
    elif secu3 > 0:
        return secu3
    
    # Sinon, si aucune valeur > 0 n'est trouvée, retourner 0
    return 0

# Appliquer la fonction pour créer la colonne secu_con
df['secu_con'] = df.apply(combine_secu, axis=1)
print(df['secu_con'].unique())

[nan  1.  2.  8.  0.  3.  4.  5.  6.  9.  7.]

In [24]:
df.tail()

,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,secu1,secu2,secu3,senc,catv,occutc,obs,obsm,choc,manv,motor,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1,vma,secu_all,secu_con
2633325,1.0,1,1,2,5.0,NaN,0.0,0,-1.0,2002.0,1.0,-1.0,-1.0,2.0,7,NaN,0.0,0.0,8.0,19.0,1.0,2022,1,1,08:40,1,1,3,1.0,3.0,81099,Chemin Toulze,NaN,"43,9272650000","1,9156370000",81,3.0,18,-1.0,D,2.0,2,30,125,0.0,1.0,1.0,NaN,-1,1.0,0.0,1.0,NaN,80.0,NaN,1.0
2633326,8.0,2,3,2,5.0,NaN,0.0,0,-1.0,2004.0,1.0,-1.0,-1.0,2.0,7,NaN,0.0,0.0,8.0,19.0,1.0,2022,1,1,08:40,1,1,3,1.0,3.0,81099,Chemin Toulze,NaN,"43,9272650000","1,9156370000",81,3.0,18,-1.0,D,2.0,2,30,125,0.0,1.0,1.0,NaN,-1,1.0,0.0,1.0,NaN,80.0,NaN,1.0
2633327,1.0,1,4,2,5.0,NaN,0.0,0,-1.0,1953.0,1.0,-1.0,-1.0,2.0,7,NaN,0.0,2.0,1.0,1.0,1.0,2022,1,1,08:40,1,1,3,1.0,3.0,81099,Chemin Toulze,NaN,"43,9272650000","1,9156370000",81,3.0,18,-1.0,D,2.0,2,30,125,0.0,1.0,1.0,NaN,-1,1.0,0.0,1.0,NaN,80.0,NaN,1.0
2633328,1.0,1,3,1,1.0,NaN,-1.0,-1,-1.0,1992.0,2.0,6.0,-1.0,1.0,33,NaN,0.0,2.0,1.0,1.0,1.0,2022,3,1,16:55,1,2,1,1.0,2.0,41018,RD956 - Pont Charles De Gaulle,NaN,"47,5944040000","1,3533290000",41,3.0,NaN,-1.0,NaN,3.0,4,(1),(1),0.0,1.0,1.0,NaN,4,1.0,0.0,1.0,NaN,70.0,NaN,2.0
2633329,1.0,1,1,1,-1.0,NaN,-1.0,-1,-1.0,2000.0,1.0,-1.0,-1.0,1.0,7,NaN,0.0,0.0,4.0,21.0,1.0,2022,3,1,16:55,1,2,1,1.0,2.0,41018,RD956 - Pont Charles De Gaulle,NaN,"47,5944040000","1,3533290000",41,3.0,NaN,-1.0,NaN,3.0,4,(1),(1),0.0,1.0,1.0,NaN,4,1.0,0.0,1.0,NaN,70.0,NaN,1.0

In [25]:
def merge_secu_columns(row):
    secu_all, secu_con = row['secu_all'], row['secu_con']
    
    # Retourner la première valeur non-NaN, sinon NaN
    if not pd.isna(secu_all):
        return secu_all
    if not pd.isna(secu_con):
        return secu_con
    return np.nan

# Appliquer la fonction pour créer la colonne secu_combined
df['secu_combined'] = df.apply(merge_secu_columns, axis=1)
print(df['secu_combined'].unique())

[ 1.  3.  2. nan  0.  9.  4.  8.  5.  6.  7.]

In [26]:
# Calculer le pourcentage de valeurs manquantes pour chaque colonne
missing_percentage = df.isnull().mean() * 100

# Afficher uniquement les colonnes avec des valeurs manquantes
missing_percentage = missing_percentage[missing_percentage > 0].round(2)

print(missing_percentage)

place             4.66
trajet            0.02
secu             24.00
locp              2.14
actp              2.14
etatp             2.14
an_nais           0.31
secu1            81.25
secu2            81.25
secu3            81.25
senc              0.01
occutc           18.52
obs               0.04
obsm              0.03
choc              0.01
manv              0.02
motor            81.25
atm               0.01
col               0.00
com               0.00
adr              13.11
gps              58.44
lat              40.46
long             40.46
catr              0.00
voie              8.90
v1               53.73
v2               95.03
circ              0.14
nbv               0.24
pr               38.74
pr1              38.88
vosp              0.24
prof              0.17
plan              0.21
lartpc           23.55
larrout           9.70
surf              0.17
infra             0.48
situ              0.44
env1             19.24
vma              81.25
secu_all         24.00
secu_con         81.44
secu_combined     5.44
dtype: float64

In [27]:
# Suppression des variables Ajout/Suppression 2019 après avoir combiné secu
df.drop(columns=['secu', 'secu1', 'secu2', 'secu3', 'motor', 'lartpc', 'env1', 'vma', 'secu_all', 'secu_con'], inplace=True)

In [28]:
# Suppression des variables à forte proportion de NaN et -1
df.drop(columns=['occutc', 'lat', 'long', 'v1', 'v2', 'pr', 'pr1', 'larrout','gps'], inplace=True)

# Calculer le pourcentage de valeurs manquantes pour chaque colonne
missing_percentage = df.isnull().mean() * 100

# Afficher uniquement les colonnes avec des valeurs manquantes
missing_percentage = missing_percentage[missing_percentage > 0].round(2)

print(missing_percentage)

place             4.66
trajet            0.02
locp              2.14
actp              2.14
etatp             2.14
an_nais           0.31
senc              0.01
obs               0.04
obsm              0.03
choc              0.01
manv              0.02
atm               0.01
col               0.00
com               0.00
adr              13.11
catr              0.00
voie              8.90
circ              0.14
nbv               0.24
vosp              0.24
prof              0.17
plan              0.21
surf              0.17
infra             0.48
situ              0.44
secu_combined     5.44
dtype: float64

In [29]:
# Suppression des variables jugées non pertinentes
df.drop(columns=['adr', 'com', 'dep', 'voie', 'nbv'], inplace=True)

In [30]:
df.duplicated().value_counts()

False    2632523
True         807
Name: count, dtype: int64

In [31]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [32]:
df.shape

(2632523, 33)

In [33]:
# Création d'un dictionnaire pour mapper les nouvelles valeurs de catv
new_catv_mapping = {
    1: [1, 50, 60, 80],
    2: [2, 4, 5, 30, 31, 32, 33, 34, 41, 42, 43],
    3: [7, 8, 9, 10, 11, 12],
    4: [13, 14, 15, 16, 17, 37, 38],
    5: [19, 20, 21, 35, 36, 39, 40, 99]
}
# Fonction pour mapper les nouvelles valeurs
def map_new_catv_value(old_value):
    for new_value, old_values in new_catv_mapping.items():
        if old_value in old_values:
            return new_value
    return None
# Supprimer la valeur 00
df = df[df['catv'] != 0]

# Appliquer la fonction de mapping pour créer les nouvelles valeurs
df['catv'] = df['catv'].apply(map_new_catv_value)

In [34]:
# Calculer le mode de la variable manv
mode_manv = df['manv'].mode()[0]

# Remplacer les valeurs -1 et 0 par le mode
df.loc[df['manv'].isin([-1, 0]), 'manv'] = mode_manv

# Création d'un dictionnaire pour mapper les nouvelles valeurs
new_manv_mapping = {
    1: list(range(1, 11)),
    2: [11, 12],
    3: [13, 14],
    4: [15, 16],
    5: [17, 18],
    6: list(range(19, 27))
}

# Fonction pour mapper les nouvelles valeurs
def map_new_manv_value(old_value):
    for new_value, old_values in new_manv_mapping.items():
        if old_value in old_values:
            return new_value
    return None

# Appliquer la fonction de mapping pour créer les nouvelles valeurs
df['manv'] = df['manv'].apply(map_new_manv_value)

In [35]:
df.duplicated().value_counts()

False    2631358
True         136
Name: count, dtype: int64

In [36]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [37]:
# Définir la fonction de transformation pour la variable obsm
def reduce_categories(x):
    if x == 0:
        return 1
    elif x == 1:
        return 2
    elif x == 2:
        return 3
    elif x in [4, 5, 6, 9]:
        return 4
    else:
        return np.nan

# Appliquer la transformation à la colonne 'obsm'
df['obsm'] = df['obsm'].apply(reduce_categories)

# Remplacer les valeurs manquantes par le mode le plus fréquent
mode_value = df['obsm'].mode()[0]
df['obsm'] = df['obsm'].fillna(mode_value)

In [38]:
locp_counts = df['obsm'].value_counts()
total_count = len(df['obsm'])
print("Valeurs uniques et leur décompte pour la variable 'obsm':")
for value, count in locp_counts.items():
    percentage = (count / total_count) * 100
    print(f"{value}: {count} ({percentage:.2f}%)")
    
na_count = df['obsm'].isna().sum()
percentage_missing = (na_count / total_count) * 100
print("Nombre de valeurs manquantes pour la variable 'obsm':", na_count)
print("Pourcentage de données manquantes pour la variable 'obsm': {:.2f}%".format(percentage_missing))

Valeurs uniques et leur décompte pour la variable 'obsm':
3.0: 1621903 (61.64%)
1.0: 557816 (21.20%)
2.0: 409303 (15.55%)
4.0: 42336 (1.61%)
Nombre de valeurs manquantes pour la variable 'obsm': 0
Pourcentage de données manquantes pour la variable 'obsm': 0.00%

In [39]:
# Définir la fonction de transformation pour la variable place
def reduce_categories(x):
    if x == 1:
        return 1
    elif x in [2, 3, 6]:
        return 2
    elif x in [4, 5, 7, 8, 9]:
        return 3
    elif x == 10:
        return 4
    else:
        return np.nan

# Appliquer la transformation à la colonne 'place'
df['place'] = df['place'].apply(reduce_categories)

# Remplacer les valeurs manquantes par le mode le plus fréquent
mode_value = df['place'].mode()[0]
df['place'] = df['place'].fillna(mode_value)

locp_counts = df['place'].value_counts()
total_count = len(df['place'])
print("Valeurs uniques et leur décompte pour la variable 'place':")
for value, count in locp_counts.items():
    percentage = (count / total_count) * 100
    print(f"{value}: {count} ({percentage:.2f}%)")
    
na_count = df['place'].isna().sum()
percentage_missing = (na_count / total_count) * 100
print("Nombre de valeurs manquantes pour la variable 'place':", na_count)
print("Pourcentage de données manquantes pour la variable 'place': {:.2f}%".format(percentage_missing))

Valeurs uniques et leur décompte pour la variable 'place':
1.0: 2144441 (81.50%)
2.0: 344341 (13.09%)
3.0: 104511 (3.97%)
4.0: 38065 (1.45%)
Nombre de valeurs manquantes pour la variable 'place': 0
Pourcentage de données manquantes pour la variable 'place': 0.00%

In [40]:
# Définir la fonction de transformation pour la variable int
def reduce_categories(x):
    if x == 1:
        return 1
    elif x in [2, 3, 4, 5, 8, 9]:
        return 2
    elif x == 6:
        return 3
    elif x == 7:
        return 4
    else:
        return np.nan

# Appliquer la transformation à la colonne 'int'
df['int'] = df['int'].apply(reduce_categories)

# Remplacer les valeurs manquantes par le mode le plus fréquent
mode_value = df['int'].mode()[0]
df['int'] = df['int'].fillna(mode_value)

locp_counts = df['int'].value_counts()
total_count = len(df['int'])
print("Valeurs uniques et leur décompte pour la variable 'int':")
for value, count in locp_counts.items():
    percentage = (count / total_count) * 100
    print(f"{value}: {count} ({percentage:.2f}%)")
    
na_count = df['int'].isna().sum()
percentage_missing = (na_count / total_count) * 100
print("Nombre de valeurs manquantes pour la variable 'int':", na_count)
print("Pourcentage de données manquantes pour la variable 'int': {:.2f}%".format(percentage_missing))

Valeurs uniques et leur décompte pour la variable 'int':
1.0: 1821552 (69.22%)
2.0: 715006 (27.17%)
3.0: 73841 (2.81%)
4.0: 20959 (0.80%)
Nombre de valeurs manquantes pour la variable 'int': 0
Pourcentage de données manquantes pour la variable 'int': 0.00%

In [41]:
# Variable situ
def reduce_categories(x):
    if x == 1:
        return 1
    elif x == 2:
        return 2
    elif x == 3:
        return 3
    elif x in [2, 5, 6, 8]:
        return 4
    else:
        return np.nan

# Appliquer la transformation à la colonne 'situ'
df['situ'] = df['situ'].apply(reduce_categories)

# Remplacer les valeurs manquantes par le mode le plus fréquent
mode_value = df['situ'].mode()[0]
df['situ'] = df['situ'].fillna(mode_value)

locp_counts = df['situ'].value_counts()
total_count = len(df['situ'])
print("Valeurs uniques et leur décompte pour la variable 'situ':")
for value, count in locp_counts.items():
    percentage = (count / total_count) * 100
    print(f"{value}: {count} ({percentage:.2f}%)")
    
na_count = df['situ'].isna().sum()
percentage_missing = (na_count / total_count) * 100
print("Nombre de valeurs manquantes pour la variable 'situ':", na_count)
print("Pourcentage de données manquantes pour la variable 'situ': {:.2f}%".format(percentage_missing))

Valeurs uniques et leur décompte pour la variable 'situ':
1.0: 2410459 (91.61%)
3.0: 164378 (6.25%)
4.0: 38139 (1.45%)
2.0: 18382 (0.70%)
Nombre de valeurs manquantes pour la variable 'situ': 0
Pourcentage de données manquantes pour la variable 'situ': 0.00%

In [42]:
# Définir la fonction de transformation de la variable choc
def reduce_categories(x):
    if x == 0:
        return 1
    elif x in [1, 2, 3]:
        return 2
    elif x in [4, 5, 6, 7, 8]:
        return 3
    elif x == 9:
        return 4
    else:
        return np.nan  
    
    
# Appliquer la transformation à la colonne 'choc'
df['choc'] = df['choc'].apply(reduce_categories)

mode_value = df['choc'].mode()[0]
df['choc'] = df['choc'].fillna(mode_value)

locp_counts = df['choc'].value_counts()
total_count = len(df['choc'])
print("Valeurs uniques et leur décompte pour la variable 'choc':")
for value, count in locp_counts.items():
    percentage = (count / total_count) * 100
    print(f"{value}: {count} ({percentage:.2f}%)")
    
na_count = df['choc'].isna().sum()
percentage_missing = (na_count / total_count) * 100
print("Nombre de valeurs manquantes pour la variable 'choc':", na_count)
print("Pourcentage de données manquantes pour la variable 'choc': {:.2f}%".format(percentage_missing))

Valeurs uniques et leur décompte pour la variable 'choc':
2.0: 1688420 (64.17%)
3.0: 742081 (28.20%)
1.0: 153668 (5.84%)
4.0: 47189 (1.79%)
Nombre de valeurs manquantes pour la variable 'choc': 0
Pourcentage de données manquantes pour la variable 'choc': 0.00%

In [43]:
# Variable atm
def reduce_categories(x):
    if x in [1, 8, 9]:
        return 1
    elif x in [2, 3, 4]:
        return 2
    elif x in [5, 7]:
        return 3
    elif x == 6:
        return 4
    else:
        return np.nan
    
# Appliquer la transformation à la colonne 'atm'
df['atm'] = df['atm'].apply(reduce_categories)


mode_value = df['atm'].mode()[0]
df['atm'] = df['atm'].fillna(mode_value)

locp_counts = df['atm'].value_counts()
total_count = len(df['atm'])
print("Valeurs uniques et leur décompte pour la variable 'atm':")
for value, count in locp_counts.items():
    percentage = (count / total_count) * 100
    print(f"{value}: {count} ({percentage:.2f}%)")
    
na_count = df['atm'].isna().sum()
percentage_missing = (na_count / total_count) * 100
print("Nombre de valeurs manquantes pour la variable 'atm':", na_count)
print("Pourcentage de données manquantes pour la variable 'atm': {:.2f}%".format(percentage_missing))

Valeurs uniques et leur décompte pour la variable 'atm':
1.0: 2229615 (84.73%)
2.0: 344931 (13.11%)
3.0: 50559 (1.92%)
4.0: 6253 (0.24%)
Nombre de valeurs manquantes pour la variable 'atm': 0
Pourcentage de données manquantes pour la variable 'atm': 0.00%

In [44]:
# Variable catr
def reduce_categories(x):
    if x == 1:
        return 1
    elif x == 2:
        return 2
    elif x == 3:
        return 3
    elif x == 4:
        return 4
    elif x in [5, 6, 7, 9]:
        return 5
    else:
        return np.nan
    
# Appliquer la transformation à la colonne 'catr'
df['catr'] = df['catr'].apply(reduce_categories)


mode_value = df['catr'].mode()[0]
df['catr'] = df['catr'].fillna(mode_value)

locp_counts = df['catr'].value_counts()
total_count = len(df['catr'])
print("Valeurs uniques et leur décompte pour la variable 'catr':")
for value, count in locp_counts.items():
    percentage = (count / total_count) * 100
    print(f"{value}: {count} ({percentage:.2f}%)")
    
na_count = df['catr'].isna().sum()
percentage_missing = (na_count / total_count) * 100
print("Nombre de valeurs manquantes pour la variable 'catr':", na_count)
print("Pourcentage de données manquantes pour la variable 'catr': {:.2f}%".format(percentage_missing))

Valeurs uniques et leur décompte pour la variable 'catr':
4.0: 1217578 (46.27%)
3.0: 871975 (33.14%)
1.0: 242857 (9.23%)
2.0: 222008 (8.44%)
5.0: 76940 (2.92%)
Nombre de valeurs manquantes pour la variable 'catr': 0
Pourcentage de données manquantes pour la variable 'catr': 0.00%

In [45]:
# Remplacer les valeurs manquantes par le mode le plus fréquent pour surf
mode_value = df['surf'].mode()[0]
df['surf'] = df['surf'].fillna(mode_value)

# Définir la fonction de transformation
def reduce_categories(x):
    if x == 1:
        return 1
    elif x in [2, 3, 4, 5, 6, 7, 8]:
        return 2
    elif x == 9:
        return 3
    else:
        return mode_value

# Appliquer la transformation à la colonne 'surf'
df['surf'] = df['surf'].apply(reduce_categories)
locp_counts = df['surf'].value_counts()
total_count = len(df['surf'])
print("Valeurs uniques et leur décompte pour la variable 'surf':")
for value, count in locp_counts.items():
    percentage = (count / total_count) * 100
    print(f"{value}: {count} ({percentage:.2f}%)")
    
na_count = df['surf'].isna().sum()
percentage_missing = (na_count / total_count) * 100
print("Nombre de valeurs manquantes pour la variable 'surf':", na_count)
print("Pourcentage de données manquantes pour la variable 'surf': {:.2f}%".format(percentage_missing))

Valeurs uniques et leur décompte pour la variable 'surf':
1.0: 2135457 (81.15%)
2.0: 484093 (18.40%)
3.0: 11808 (0.45%)
Nombre de valeurs manquantes pour la variable 'surf': 0
Pourcentage de données manquantes pour la variable 'surf': 0.00%

In [46]:
# Calculer le pourcentage de valeurs manquantes pour chaque colonne
missing_percentage = df.isnull().mean() * 100

# Afficher uniquement les colonnes avec des valeurs manquantes
missing_percentage = missing_percentage[missing_percentage > 0].round(2)

print(missing_percentage)
print(df.shape)

trajet           0.02
locp             2.14
actp             2.14
etatp            2.14
an_nais          0.29
senc             0.01
catv             0.58
obs              0.04
manv             0.02
col              0.00
circ             0.14
vosp             0.24
prof             0.17
plan             0.21
infra            0.48
secu_combined    5.43
dtype: float64
(2631358, 33)

In [47]:
df = df.dropna()
# Calculer le pourcentage de valeurs manquantes pour chaque colonne
missing_percentage = df.isnull().mean() * 100

# Afficher uniquement les colonnes avec des valeurs manquantes
missing_percentage = missing_percentage[missing_percentage > 0].round(2)

print(missing_percentage)
print(df.shape)

Series([], dtype: float64)
(2402001, 33)

In [48]:
# Suppression des variables présentant une catégorie dominante qui correspond a "non renseigné"
df.drop(columns=['actp', 'etatp', 'locp', 'obs', 'senc', 'trajet', 'vosp'], inplace=True)

In [49]:
df.duplicated().value_counts()

False    2398108
True        3893
Name: count, dtype: int64

In [50]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [51]:
# Calculer la fréquence de chaque valeur
value_counts = df['secu_combined'].value_counts()

# Calculer le pourcentage pour chaque valeur
value_percentages = (value_counts / len(df)) * 100

# Convertir en DataFrame pour un affichage plus structuré
percentages_df = value_percentages.reset_index()
percentages_df.columns = ['secu_combined', 'Percentage']

# Afficher le résultat
print(percentages_df)

   secu_combined  Percentage
0            1.0   59.545483
1            2.0   19.400169
2            0.0   17.455969
3            8.0    2.399558
4            3.0    0.725197
5            9.0    0.329134
6            4.0    0.117509
7            6.0    0.017097
8            5.0    0.009257
9            7.0    0.000625

In [52]:
# transformation de secu_combined
def reduce_categories(x):
    if x == 0:
        return 1
    elif x == 1:
        return 2
    elif x == 2:
        return 3
    elif x in [3, 4, 5, 6, 7,8, 9]:
        return 4
    else:
        return np.nan
    
# Appliquer la transformation à la colonne 'secu_combined'
df['secu_combined'] = df['secu_combined'].apply(reduce_categories)
locp_counts = df['secu_combined'].value_counts()
total_count = len(df['secu_combined'])
print("Valeurs uniques et leur décompte pour la variable 'secu_combined':")
for value, count in locp_counts.items():
    percentage = (count / total_count) * 100
    print(f"{value}: {count} ({percentage:.2f}%)")
    
na_count = df['secu_combined'].isna().sum()
percentage_missing = (na_count / total_count) * 100
print("Nombre de valeurs manquantes pour la variable 'secu_combined':", na_count)
print("Pourcentage de données manquantes pour la variable 'secu_combined': {:.2f}%".format(percentage_missing))

Valeurs uniques et leur décompte pour la variable 'secu_combined':
2: 1427965 (59.55%)
3: 465237 (19.40%)
1: 418613 (17.46%)
4: 86293 (3.60%)
Nombre de valeurs manquantes pour la variable 'secu_combined': 0
Pourcentage de données manquantes pour la variable 'secu_combined': 0.00%

In [53]:
df = df.replace(-1, np.nan)

In [54]:
# Calculer le pourcentage de valeurs manquantes pour chaque colonne
missing_percentage = df.isnull().mean() * 100

# Afficher uniquement les colonnes avec des valeurs manquantes
missing_percentage = missing_percentage[missing_percentage > 0].round(2)

print(missing_percentage)
print(df.shape)

sexe     0.00
lum      0.00
col      0.16
circ     1.06
prof     0.00
plan     0.00
infra    0.18
dtype: float64
(2398108, 26)

In [55]:
df = df.dropna()
print(df.shape)

(2364765, 26)

In [56]:
df.duplicated().value_counts()

False    2364764
True           1
Name: count, dtype: int64

In [57]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [58]:
# Créer une variable catégorielle découpant les heures par tranche d'une heure
df['hour_cat'] = pd.to_datetime(df['hrmn'], format='%H:%M').dt.hour
print(df['hrmn'].unique())
print(df['hour_cat'].unique())

['19:00' '16:00' '18:45' ... '02:27' '03:07' '00:00']
[19 16 18 14 15 21 17 20  2  6  8  7 11 10  0  9 22  5 23 12 13  3  4  1]

In [59]:
mode_value = df['hour_cat'].mode()[0]
def reduce_categories(x):
    if x in range(8, 17):
        return 1
    elif (x in range(6, 9)) or (x in range(16, 19)):
        return 2
    elif (x in range(21, 25)) or (x in range(1, 6)):
        return 3
    else:
        return mode_value

# Appliquer la transformation à la colonne 'hour_cat'
df['hour_cat'] = df['hour_cat'].apply(reduce_categories)

In [60]:
# Calculer l'âge de l'usager au moment de l'accident en soustrayant l'année de naissance de l'année de l'accident
df['age_usag'] = df['an'] - df['an_nais']

# Afficher les premières lignes du DataFrame pour vérifier
print(df[['an_nais', 'an', 'age_usag']].head())


class AgeCat(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        return None
    def fit(self, X, y = None):
        return self
    def transform(self, X):
        return pd.DataFrame(pd.cut(X['age_usag'], bins = [0, 12, 18, 30, 58, np.max(df.age_usag)], labels=['Enfant','Adolescent',
                                                                                                    'Jeune adulte','Adulte',
                                                                                                    'Senior']))


# Créer un transformateur personnalisé pour binariser l'âge des usagers
age_categorized = AgeCat()

# Appliquer le transformateur sur les données
df['age_category'] = age_categorized.fit_transform(df[['age_usag']])

# Afficher les premières lignes du DataFrame avec la nouvelle variable
print(df[['age_usag', 'age_category']].head())

   an_nais    an  age_usag
0   1976.0  2005      29.0
1   1968.0  2005      37.0
2   1964.0  2005      41.0
3   2004.0  2005       1.0
4   1998.0  2005       7.0
   age_usag  age_category
0      29.0  Jeune adulte
1      37.0        Adulte
2      41.0        Adulte
3       1.0        Enfant
4       7.0        Enfant

In [61]:
def jour_de_la_semaine(date):
    jours = ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
    return jours[date.weekday()]

df["hrmn"] = df["hrmn"].apply(lambda x: str(x).zfill(4))

df["datetime_str"] = (
    df["an"].astype(str)
    + "-"
    + df["mois"].astype(str)
    + "-"
    + df["jour"].astype(str)
    + " "
    + df["hrmn"]
)
df["datetime"] = pd.to_datetime(df["datetime_str"], format="%Y-%m-%d %H:%M")
df["jour_sem"] = df["datetime"].apply(jour_de_la_semaine)
# + clear cols temp
df["jour_sem"].unique()

array(['Mercredi', 'Vendredi', 'Mardi', 'Lundi', 'Samedi', 'Dimanche',
       'Jeudi'], dtype=object)

In [62]:
# Créer une instance de LabelEncoder pour 'age_category'
label_encoder_age_category = LabelEncoder()
df['age_category_encoded'] = label_encoder_age_category.fit_transform(df['age_category'])

# Créer une instance de LabelEncoder pour 'jour_sem'
label_encoder_jour_sem = LabelEncoder()
df['jour_sem_encoded'] = label_encoder_jour_sem.fit_transform(df['jour_sem'])

In [63]:
# Afficher un aperçu des colonnes 'age_category' et 'age_category_encoded'
print(df[['age_category', 'age_category_encoded']].head())

print(df[['jour_sem', 'jour_sem_encoded']].head())

   age_category  age_category_encoded
0  Jeune adulte                     3
1        Adulte                     1
2        Adulte                     1
3        Enfant                     2
4        Enfant                     2
   jour_sem  jour_sem_encoded
0  Mercredi                 4
1  Mercredi                 4
2  Mercredi                 4
3  Mercredi                 4
4  Mercredi                 4

In [64]:
# Suppression des variables "Temps" du DataFrame df.
df.drop(columns=['an', 'an_nais', 'jour', 'mois', 'hrmn', 'age_usag', 'datetime_str', 'datetime', 'age_category', 'jour_sem'], inplace=True)

In [65]:
df.shape

(2364764, 24)

In [66]:
df.head()

,place,catu,grav,sexe,catv,obsm,choc,manv,lum,agg,int,atm,col,catr,circ,prof,plan,surf,infra,situ,secu_combined,hour_cat,age_category_encoded,jour_sem_encoded
0,1.0,1,4,1.0,3.0,3.0,2.0,1.0,3.0,2,1.0,1.0,3.0,3.0,2.0,1.0,1.0,1.0,0.0,1.0,2,17,3,4
1,1.0,1,3,2.0,3.0,3.0,3.0,1.0,3.0,2,1.0,1.0,3.0,3.0,2.0,1.0,1.0,1.0,0.0,1.0,2,17,1,4
2,2.0,2,1,1.0,3.0,3.0,3.0,1.0,3.0,2,1.0,1.0,3.0,3.0,2.0,1.0,1.0,1.0,0.0,1.0,2,17,1,4
3,3.0,2,1,1.0,3.0,3.0,3.0,1.0,3.0,2,1.0,1.0,3.0,3.0,2.0,1.0,1.0,1.0,0.0,1.0,4,17,2,4
4,3.0,2,1,1.0,3.0,3.0,3.0,1.0,3.0,2,1.0,1.0,3.0,3.0,2.0,1.0,1.0,1.0,0.0,1.0,2,17,2,4

In [67]:
df = df.astype(int)

In [68]:
df.duplicated().value_counts()

False    1810544
True      554220
Name: count, dtype: int64

In [69]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

In [70]:
df.shape

(1810544, 24)

In [71]:
df.head()

,place,catu,grav,sexe,catv,obsm,choc,manv,lum,agg,int,atm,col,catr,circ,prof,plan,surf,infra,situ,secu_combined,hour_cat,age_category_encoded,jour_sem_encoded
0,1,1,4,1,3,3,2,1,3,2,1,1,3,3,2,1,1,1,0,1,2,17,3,4
1,1,1,3,2,3,3,3,1,3,2,1,1,3,3,2,1,1,1,0,1,2,17,1,4
2,2,2,1,1,3,3,3,1,3,2,1,1,3,3,2,1,1,1,0,1,2,17,1,4
3,3,2,1,1,3,3,3,1,3,2,1,1,3,3,2,1,1,1,0,1,4,17,2,4
4,3,2,1,1,3,3,3,1,3,2,1,1,3,3,2,1,1,1,0,1,2,17,2,4

In [72]:
df.to_csv(os.path.join(output_path, 'Processed_df.csv'), index=False)

SelectKBest - Chi²

In [73]:
# Diviser les données en fonction des caractéristiques (X) et de la cible (y)
X = df.drop(columns=['grav'])  # Caractéristiques
y = df['grav']  # Cible

In [74]:
k_best = SelectKBest(chi2, k=23)
k_best.fit_transform(X, y)

array([[ 1,  1,  1, ..., 17,  3,  4],
       [ 1,  1,  2, ..., 17,  1,  4],
       [ 2,  2,  1, ..., 17,  1,  4],
       ...,
       [ 3,  2,  2, ...,  1,  0,  5],
       [ 1,  1,  1, ...,  1,  3,  3],
       [ 1,  1,  1, ...,  1,  3,  3]])

In [75]:
# Créer un DataFrame pour stocker les résultats du test chi²
chi2_results = pd.DataFrame({'Variable': X.columns, 'Chi2 Score': k_best.scores_})

# Trier les résultats par score chi² de manière décroissante
chi2_results_sorted = chi2_results.sort_values(by='Chi2 Score', ascending=False)

# Calculer la somme des scores chi² de toutes les variables
total_chi2_score = chi2_results_sorted['Chi2 Score'].sum()

# Créer une colonne pour stocker la proportion de chaque variable
chi2_results_sorted['Proportion'] = (chi2_results_sorted['Chi2 Score'] / total_chi2_score) * 100

# Afficher les résultats avec la nouvelle colonne
print(chi2_results_sorted)

                Variable    Chi2 Score  Proportion
3                   catv  29369.201164   18.610780
4                   obsm  15744.893362    9.977280
1                   catu  13237.630911    8.388469
18                  situ  12839.441321    8.136143
11                   col  12114.328161    7.676651
6                   manv  11857.903831    7.514159
15                  plan  10658.346955    6.754019
8                    agg  10350.948887    6.559226
0                  place   8515.320725    5.396019
19         secu_combined   8271.096196    5.241258
17                 infra   7536.360742    4.775668
9                    int   4534.069159    2.873165
21  age_category_encoded   3585.692851    2.272195
2                   sexe   3042.447312    1.927949
12                  catr   2424.324476    1.536255
7                    lum   1436.764018    0.910454
13                  circ    717.285808    0.454532
22      jour_sem_encoded    429.443943    0.272132
14                  prof    370.273326    0.234636
5                   choc    342.125871    0.216800
20              hour_cat    339.767828    0.215305
16                  surf     55.456605    0.035142
10                   atm     34.348459    0.021766

In [76]:
# Liste des variables à conserver = 16 variables
variables_a_garder = ['catu', 'catv', 'obsm', 'col', 'place', 'manv', 'situ', 'agg', 'plan', 'secu_combined', 'age_category_encoded', 'infra', 'int', 'sexe','catr', 'lum']

# Garder seulement les colonnes spécifiées
df_16 = df.filter(variables_a_garder)
df_16.shape

(1810544, 16)

In [77]:
df_16 = df_16.astype('object')
# Créer un nouveau DataFrame avec les variables catégorielles encodées en one-hot

df_encoded_16 = pd.get_dummies(df_16, drop_first = True)

In [80]:
X = df_encoded_16

# Appliquer l'undersampling sur X et y en spécifiant un random_state
undersample = RandomUnderSampler(random_state=42)
X_resampled, y_resampled = undersample.fit_resample(X, y)

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42, stratify=y_resampled)

In [81]:
# Exporter les données d'entraînement et de test en CSV

datasets = {'train': (X_train, y_train), 'test': (X_test, y_test)}

for dataset_name, (X, y) in datasets.items():

    # Convertir X et y en DataFrames pandas

    X_df = pd.DataFrame(X)

    y_df = pd.DataFrame(y)

    # Concaténer X et y en un seul DataFrame

    dataset_df = pd.concat([X_df, y_df], axis=1)
    
    dataset_df.to_csv(os.path.join(output_path, f"{dataset_name}_data16variables.csv"), index=False)